@media (min-width:768px){

    #menu { display:none; }

    nav {
        position: static;
        transform: none;
        height: auto;
        width: auto;
        background-color: transparent;
    }

    nav ul {
        display: flex;
        gap: 1rem;
    }

    .weather-events {
    grid-template-columns: repeat(3, 1fr);
    }


    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    footer{
        height: 300px;
    }
    .join-grid {
        grid-template-columns: 1.5fr 1fr;
        align-items: start;
    }

}